#section2{
    width: 90%;
}
.texte{
    font-size: 12px;
}

#nav{
    font-size: 8.5px;
    margin-top: 0px;
}
#etiquette{
    padding: 10px 5px;
}
table{
    font-size: 10px
}
#dl{
   font-size:6px
}
#bio_prof{
    width:100%;
}


@media screen and (max-width: 480px) {
    .show_menu{
        text-align: left;
        font-family: sans-serif;
        font-weight:bold;
        background-color: #9DAFB0;
        color: white;
        display: block;
        padding: 10px;
    }
    #icon_menu{
        float:right;
    }
    #barre{
        display: block;
    }
    #nav{
        font-size: 10px;
        padding:3px 0px;
        background-color: rgba(157, 175, 176,0);
        display:none;
}
    #nav li{
        display: grid;
        width: 75%;
        position: relative;
        left: 22.5%;
    }
    #nav a:link, #nav a:visited{
        border-right:0px;
        color:white;
        border-top: 1.5px solid #707C7D;
        background-color: rgba(157, 175, 176,.3);
    }
    #nav li:first-child a {
       border-top: px;
    }
    #nav a:hover{
        background: #d3d3d3;
        color: #824540;
        border-top: 2px solid #824540;
    }
    #nav a:active {
        background:#5F9EA0;
        color:#FFF;
        border-top: 2px solid white;
    }
    
}   