#up{
    position: fixed;
    margin-top: 3px;
    margin-left: 3px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.26);
    border: 2px solid rgba(113, 113, 113, 0.62);
    border-radius: 100%;
}
.up{
    width: 100%;
}
header{
    background-color: #5f9ea0;
    height: 150px;
    
}

#logo_IUT{
    width: 400px;
    height: 50px;
    float:left;
    padding-top: 50px;
}
.logo_IUT{
    height: 100%;
}

#logo_RT{
    width: 400px;
    height: 120px;
    float:left;
    padding-top: 15px;
}
.logo_RT{
    height: 100%;
}

#logo_UR{
    width: 400px;
    height:30px;
    float:left;
    padding-top: 60px;
}
.logo_UR{
    height: 100%
}

body{
    text-align: center;
    background-color: #D3ECEC;
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

#main{
    height:auto;
    font-family: sans-serif;
    padding:10px 0px 10px 70px;
    background-color: rgb(124, 137, 137);
    color:white;
}

.tab{display: none}

.home{display: block}

:target ~ .home{display: none}

#home:target ~ .home,
#articles:target ~ .articles,
#personnel:target ~ .personnel,
#matieres:target ~ .matieres,
#charte:target ~ .charte,
#contact:target ~ .contact,
#jirt:target ~ .jirt,
#geeko:target ~ .geeko{
    display: block;
}
#charte_jpg{
    width: 95%;
    margin:2.5%;
}
#dl{
    margin-left:82.5%;
    width: 15%;
    font-family: sans-serif;
    background-color: 9DAFB0;
    color:white;
}
#dl:hover{
    background: #d3d3d3;
    color: #824540;
    border-top: 2px solid #824540;
}
#dl:active{
    background:#5F9EA0;
    color:#FFF;
    border-top: 2px solid white;
}
#section1{
    width: 750px;
    text-align: justify;
    background-color: #9DAFB0;
    padding: 5px 10px 5px 10px;
}
#section1 a:link, #section1 a:visited, #section2 a:link, #section2 a:visited, footer a:link, footer a:visited{
    color: white;
    text-decoration: none;
}
#section2{
    width: 600px;
    text-align: justify;
    background-color: #9DAFB0;
    padding: 5px 10px 5px 10px;
}
.titre{
    font-size: 24px;
    font-weight: bold;
}
.texte{
    font-size: 15px;
}
table{
    border-collapse: collapse;
    background-color:#d3d3d3; 
    color: #824540;
    width: 98%;
    margin: 0px 1%;
}
caption{
    color: white;
    padding: 5px;
    font-weight: bold;
    font-size:18px;
}
thead{
    font-weight: bold;
}
.center{
    text-align: center;
}
td{
    border: 2px solid #FFF;
    padding: 5px;
}
.titre_article{
    font-size:18px;
    font-weight: bold;
}
#article{
    width: 100%;
    border-top: 3px solid #FFF;
}
#img_article{
    width: 100%;
    height: auto;
}
.img_article{
    width: 70%;
    padding: 0px 15%;
}
#article1{
    width:90.8%;
    padding-left: 20px;;
    height: auto;
    display: inline-block;
}
#photo_prof{
    width: 20%;
    height: auto;
    float:left;
}
#bio_prof{
    width:78%;
    height: 120px;
    margin-bottom: 20px;
    padding: 5px;
    float:left;
}
.photo_prof{
    width: 100%;
}
#img_reseau{
    width: auto;
    height:40px;
    margin:10px;
    padding: 5px;
    text-align:center;
    display: inline-block;
}
.img_reseau{
    height: 100%;
    float:left;
}
label.texte{
    margin-top: 10px;
    margin-left: 5px;
    float:left;
}
form{
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 1em;
}
#etiquette{
    display: inline-block;
    width: 200px;
    padding: 20px 5px;
    font-weight: bold;
    font-size: 14px
}
input, textarea{
    width: 290px;
    border-radius: 6px;
    font-size: 14px;
}
textarea{
    vertical-align:text-top;
    height: 80px;
}
.button{
    margin:20px 0px 0px 210px;
}

.show_menu{
    display: none;
}
.icon_menu{
    float:right;
}
#barre{
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 3px; 
}
input[type=checkbox]{display: none}

input[type=checkbox]:checked ~ #nav{display: block}

#nav:target ~ input[type=checkbox]{}

#nav{
    font-family: sans-serif;
    font-weight:bold;
    background-color: #9DAFB0;
    padding: 10px 0px;*/
    width:100%;
    margin:0px;
}
#nav li{  
    display:inline; 
}

#nav a:link, #nav a:visited{
    background-color: #9DAFB0;
    color: white;
    padding: 10px;
    border-right:3px solid #707C7D;
    text-decoration: none;
    
}
#nav li:last-child a {
   border-right:0px solid #9DAFB0;
}
#nav a:hover{
    background: #d3d3d3;
    color: #824540;
    border-top: 3px solid #824540;
}
#nav a:active 
{
    background:#5F9EA0;
    color:#FFF;
    border-top: 3px solid white;
}

footer{
    color: white;
    text-align: center;
    background-color: cadetblue;
    width: 1200px;
    font-family: sans-serif;
    height: auto;
    float: left;
}
#sponsor{
    width: 100%;
    padding: 30px 0;
    vertical-align: middle;
    display:inline-block;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
}
#img_sponsor{
    width: 25%;
    height: auto;
    float:left;
}
.img_sponsor{
    width: 100%;
}
.copyright{
    font-family: sans-serif;
    font-size:10px
}


