body{
    width: auto;
}
header{
    width: auto;
}
#logo_UR{
   display: none;
}
#logo_IUT{
    display: none;
}
#logo_RT{
    width: 100%;
}

#section1{
    width: 90%;
}
#section2{
    width: 70%;
}
.titre{
    font-size: 14px;
}
.titre_article{
    font-size:13.5px;
    font-weight: bold;
}
.texte{
    font-size: 15px;
}
#article{
    width: 100%;
}
#img_article{
    width: 100%;
}
.img_article{
    width: 70%;
}
#photo_prof{
    width: 120px;
}
#bio_prof{
    width:75%;
}

#nav{
    font-size: 10px;
}
#main{
    padding-left: 20px;
}
#etiquette{
    padding: 15px 5px;
}
#dl{
   font-size:8px
}