body{
    width: 100%;
}
header{
    width: 100%;
}

#logo_IUT{
    width: 33.333333%;;
}
#logo_RT{
    width: 33.333333%;;
}
#logo_UR{
    width: 33.333333%;
}

#section1{
    width: 750px;
}
#section2{
    width: 600px;
    
}
#article{
    width: 100%;
}

#main{
    width: auto;
    padding-left: 45px;
    padding-right: 7px;
}

footer{
    width: 100%;
}
